#**<font color='teal'>Deep Learning Technologies: Student Workshop</font>**
### <font color='green'>***May 30 - July 12, 2023***</font> 
####<font color='blue'>***Amity Center For Artificial Intelligence, Amity University, Noida***</font>

# <font color='red'>**Hands-on-Session 1: Introduction to Python**</font>

* *Welcome to your first lab session on Python!*  

* *This session contains some basic functions and syntax of Python, and at the end of the tutorial some programming exercises are given to help you test your understanding on Python programming.* 

* *Here we give you a very brief overview of Python programming with concepts and functions that will be used later in lab sessions and assignments.* 

* *For a detailed description of each of the items covered here, you may refer the official websites of Python (https://www.python.org/) and NumPy (http://www.numpy.org/).*

# <font color='red'>**Python Basics**</font>

In [1]:
# simple print statement to print a string is the same as in other languages like C
# Comment is to be prefixed with a '#'
print("Hello, Deep Learning Technologies Participants!")
# print("")

Hello, Deep Learning Technologies Participants!

In [2]:
# Here are some more examples you may explore.
print('Here\'s how a single-quote escape works.')
print("This is how \"escape\"  works with double-quote.")

Here's how a single-quote escape works.
This is how "escape"  works with double-quote.

###<font color='blue'>**Input Function**</font>

* *You can use an the input function, just as you might have used 'scanf' in C.* 

* *When the input function is called, the program flow will be stopped until you give an input and end it using the return key.* 

* *The text of the optional parameter, i.e., the prompt, will be printed on the screen.* 

* *The input of the user will be interpreted. If you input an integer value, the input function will return this integer value. If you input a list, the function will return the list.* 

<font color='green'>**Let's have a look at the following example:**</font>

In [3]:
name = input("What's your name? ")
print("Welcome " + name + " to the Workshop on Deep Learning Technologies!")
city = input("Where are you from ?")
print("Nice to know that you come from " + str(city) +  "!")

Welcome  to the Workshop on Deep Learning Technologies!
Nice to know that you come from !

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
city       str
name       str

In [5]:
type(name)

str

* <font color='teal'>***So you have seen how variables can be declared and assigned a value, like the 'name' and 'city' in the above code. A simple example is given below.***</font></font>

In [6]:
# simple variable declaration and assignment
a = 20
print(a)

20

In [7]:
type(a)

int

<font color='blue'>**You are suggsted to go through the following code cells. You may change the code\inputs\values to see the syntax and working of a function.**</font>

In [8]:
# length of the text string
var3 = 'We welcome you to the course on Deep Learning Technologies'
print(len(var3))

58

In [9]:
# multiple assignment in python
a, b, c, d = 1, 5, 2, "Deep Learning Technologies"
print(a,b,c,d)
#try for more than 3 variables

1 5 2 Deep Learning Technologies

In [10]:
a1 = a2 = a3 = a4 = 10

print(a1)

10

In [11]:
# swaping is as easy as this
value1 =90 ; value2 =34
print(value1,'-----',value2)
value1,value2 = value2,value1
print(value1,'-----',value2)

90 ----- 34
34 ----- 90

In [12]:
#Boolean variables
var = not True
var1 = True
print("Values of var, var1 are " + str(var) + " and " + str(var1))

Values of var, var1 are False and True

In [13]:
#comparison is also simple to implement
x=2
print(x>1)

True

<font color='blue'>**IF...ELIF...ELSE Statements**</font>

An if-else statement has the following syntax. 

<font color='blue'>**Syntax**</font>


<font color='teal'>if expression:</font>

> <font color='green'>statement(s)</font>


<font color='teal'>else:</font>

> <font color='green'>statement(s)</font>

In [14]:
# If Else Conditioning in Python

if(False == True):
    print('if block')
else:
    print('else block')

# take a number as input from the user and check for "even and odd"

else block

In [15]:
# If else ladder
num = input("number: ")
if int(num) > 0:
    print("Positive number")
elif int(num) == 0:
    print("Zero")
else:
    print("Negative number")

ValueError: invalid literal for int() with base 10: ''

###<font color='blue'>**Loops**</font>

**The for loop works as follows.**

In [ ]:
numbers = [1,10,20,30,40,50]
sum = 0
for number in numbers:
    sum = sum + number
print(sum)

##<font color='blue'>**Important note: Python is indent sensitive.**</font>

* In addition to being case sensitive, Python is indent sensitive.

* If you observe the 'for loop' and the 'if-else' statement, there is indent within the loop. 

* For example if you run the following code, it will show "IndentationError". 

* Run the cell to see the error and correct the code by putting indent.

In [ ]:
for number in [1,10,20,30,40,50]:
  print(number,"\n")

**for loop using range()**

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
# while loop in python;
value = 4
while value<10:
    print(value)
    value+=1

In [ ]:
# Strings in python

var1 = 'testing'
var2 = "I am running"
var3 = "Hello! "

print ("var1[0:3]: ", var1[0:3])
print ("var2[1:6]: >", var2[1:6],"<")

#print the string var3 four times
print(var3*4)

##<font color='blue'>**List in Python**</font>

Python offers a range of compound datatypes often referred to as sequences. 

List is one of the most frequently used datatypes used in Python.

* A list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.
* It can have any number of items and they may be of different types (integer, float, string etc.).

**Accessing the elements of the list**

You can use the index operator [ ] to access an item in a list. Index starts from 0. So, a list having 5 elements will have indices ranging from 0 to 4.

In [ ]:
# empty list
my_list = []
print(my_list)
# list of integers
my_list = [1, 2, 3]
print(my_list)
# list with mixed datatypes
my_list = [1, "Deep Learning Technologies", 2.5]
print(my_list)

In [ ]:
# List in python.......
list = [ 'ABC', 1234 , 2.34, 'Aditya', 71.2 ]
tinylist = [123, 'john']

# Check the output of each print statement
print (list)
print (list[-2])
print (list[1:3])
print (list[2:])
print (tinylist * 2)
print (list + tinylist)

In [ ]:
# Deleting and Entry from the list

list1 = ['Deep Learning', 'Technologies', 11, 15]

print (list1)
del list1[2]
print ("After deleting value at index 2 : ", list1)

In [ ]:
# Merging two lists

a1 = [1,2,3,4,5,9]
a2 = [2,4,512,1,3]
a3 = ['Aditya', 'Ronit', 'Vikrant']
print(a1+a2+a3)

##<font color='blue'>**NumPy**</font>

**NumPy is a general-purpose fundamental package for scientific computing with Python. It contains various features including these important ones:**

>A powerful N-dimensional array object

>Sophisticated (broadcasting) functions

>Tools for integrating C/C++ and Fortran code

>Useful linear algebra, Fourier transform, and random number capabilities

**Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. This allows NumPy to seamlessly and speedily integrate with a wide variety of databases.**

 * Source: Official website of NumPy (www.numpy.org) 
 
**Let us consider some examples to understand this powerful package.**

In [ ]:
# First you need to import the NumPy Library

import numpy as np

b1 = np.array([1,2,3,5,5])    #Declaring a NumPy Array
b2 = np.array([4,5,6,7,7])

print(b1+b2)

print(b2 * 3)
print("No. of dimensions: ", b1.ndim)  # Rows in array, considered as a matrix.
# Printing shape of array
print("Shape of array: ", b1.shape)  # Dimension

# Printing size (total number of elements) of array
print("Size of array: ", b1.size) # elements in a row or column elements.

# Printing the datatype of elements in array
print("Array stores elements of type: ", b1.dtype)

 ## <font color='blue'>**Operations on Arrays**</font>
**Array creation:**
You can create arrays in NumPy in various ways.

For example, you can create an array from a regular Python list or tuple using the array function. 

The type of the resulting array is deduced from the type of the elements in the sequences. 

Often, we need to declare arrays whose sizes are known but elements are initially unknown. Hence, NumPy offers many functions to create arrays with initial placeholder content. This minimizes the necessity of growing arrays, which is generally an expensive operation.
 * Examples: *np.zeros, np.ones, np.full, np.empty*, etc.

To create sequences of numbers, NumPy provides a function analogous to range that returns arrays instead of lists.

**arange:** returns evenly spaced values within a given interval. In this, step size is specified.

**linspace:** returns evenly spaced values within a given interval. Number of elements are returned.

**Reshaping array:** The reshape method is used to reshape an array. If you have an array (a1, a2, a3, …, aN) and you want to reshape and convert it into another array of shape (b1, b2, b3, …, bM), you can do it easily using the reshape method. But the only precondition is that 
a1 x a2 x a3 … x aN = b1 x b2 x b3 … x bM . (i.e. , the total number of elements in the array should be the same, or the original size of array should remain unchanged.)

**Flatten array:** The flatten method is used to convert an array  into one dimension. It accepts order argument. Default value is ‘C’ (for row-major order), and you can use ‘F’ to use the flatten method for column major order.

* Let us see some examples.

In [ ]:
# array creation
import numpy as np

# Creating array from a list with type float
A = np.array([[1, 2, 4], [5, 8, 7]], dtype = 'float')

# Create a 3X4 array with all zeros. Please note, we have used double paranthesis.
B = np.zeros((3, 4))

# Create an arrary of complex numbers
C = np.full((3, 3), 6, dtype = 'complex')

# Create an array with random values
# np.random.seed(1) # A seed is set to ensure that the results are consistent if you use this array in future computations also.

D = np.random.randn(2, 2)

E = np.random.random((2, 2))  # Exercise : Find out the difference between D and E

In [ ]:
print ("Array created using passed list:\n", A)

print ("\nAn array initialized with all zeros:\n", B)

print ("\nAn array initialized with all 6s."
            "Array type is complex:\n", C)

print ("\nA random array:\n", D)

print ("\nAnother random array:\n", E)

## <font color='blue'>**Array Reshaping**</font>

In [ ]:
# Reshaping 3X4 array to 2X2X3 array
A = np.array([[1, 2, 3, 4],
                [5, 6, 7, 8],
                [9, 1, 2, 3]])

new_A = A.reshape(2, 2, 3)

# Flatten array
B = np.array([[1, 2, 3], [4, 5, 6]])
flat_B= B.flatten()
# column_flat_B('C')

print ("\nOriginal array:\n", A)
print ("Reshaped array:\n", new_A)
print ("\nOriginal array:\n", B)
print ("Fattened array:\n", flat_B)
#print ("Column Fattened array:\n", column_flat_B)

## <font color='blue'>**Functions in Python**</font>

Just as in C, Python also provides various types of functions. It gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called *user-defined functions.* 

In the following some simple examples of functions are given.

In [ ]:
# Function definition
def printstr(str):
   print(str)
   return;

# Now you can call printstr function
printstr("Calling a user defined function!")
printstr("Again calling the function")

## <font color='blue'>**Dictionary in Python**</font>

As given in ( https://docs.python.org/3/tutorial/datastructures.html ) : 


"Dictionary is a useful data type built into Python, similar to “associative memories” or “associative arrays” in some languages. A dictionary is indexed by keys, Unlike a sequence, which is indexed by a range of numbers.  A Key can be any immutable type, strings and numbers can always be keys. 

So a dictionary can be considered as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). Each key is separated from its value by a colon (:), the items are separated by commas, and the entire unordered ke:value pair in enclosed within curly braces. 

A dictionary can be initialized to be an empty dictionary by using a pair of braces : {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

* The main operations on a dictionary are storing a value with some key and extracting the value given the key. 

* To delete a key:value pair you can use 'del'. If you store a value using a key that is already in use, then the old value associated with that key is overwritten. 
* Use list(d.keys()) to obtain a list of all the keys used in the dictionary, in arbitrary order.
* Use sorted(d.keys())  if you wanted it to be in a sorted order.  
* To check whether a single key is in the dictionary, use the 'in' keyword.

Here are some examples of code pieces using dictionaries:

In [ ]:
# Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

**You can try making your own dictionary in the following cell.**

In [ ]:
# create a dictionary of 5 students as follows:   [roll-no: Semester Performance Index]
# print the data
Student= {1:75, 2: 68, 3: 89, 4: 94, 5:54 }
del Student[1]
print(Student)

## <font color='blue'>**Using matplotlib**</font>
Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shells, the Jupyter notebook, web application servers, and four graphical user interface toolkits ( source: https://matplotlib.org/ , https://matplotlib.org/citing.html) 

Here we give a simple example of its use.

In [ ]:
# simple plotting
# Here, we are demonstrating the growth in GDP of China and America over a peroid of time


from matplotlib import pyplot as plt

years = [1950, 1960, 1970, 1980, 1990, 2000, 2010]
America_gdp = [300.2, 543.3, 1075.9, 2862.5, 5979.6, 10289.7, 14958.3]
China_gdp = [30.2, 240.3, 675.9, 1262.5, 3579.6, 7089.7, 10958.3]

plt.plot(years, America_gdp, color='blue', marker='*', linestyle='solid')
plt.plot(years, China_gdp, color='red', marker='o', linestyle='solid')

plt.show()

## <font color='blue'>**Using Images**</font>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
img=mpimg.imread('/content/drive/MyDrive/AMITY/STUDENT_BOOTCAMP/Data/University.jpeg')
imgplot = plt.imshow(img)
plt.show()

**Tutorial by Karnati Mohan, Assistant Professor, Deep Learning Technologies -2023, Amity Center For Artificial Intelligence, Amity University, Noida.**

**Support of Ayush Singh Rajput and Mayank Chaudhary, AI Engineer, Amity Center For Artificial Intelligence, Amity University, Noida is acknowledged.**

In [ ]:
from numpy import *